.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, button{
  width: 200px;
  height: 30px;
  font-size: 16px;
  margin: 5px;
}


.note{
  background: gray;
  border-radius: 7px;
  box-shadow: 0 2px 5px gray;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.noteInList{
	background: gray;
	border-radius: 7px;
	box-shadow: 0 2px 5px gray;
	padding: 10px;
	width: 500px;
	margin: 16px;
	float: left;
  }
html{
  font-family: "Montserrat", sans-serif;
}
body{
  background: #eeeeee;
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");

}

header{
  width: 100%;
  background-color: chocolate;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/corrugation.png");
}


